<h1 class="border-bottom p-2 mb-3">Store Angular</h1>

<ng-container *ngIf="currentView == 'LIST'">
   <button class="btn btn-primary float-right" type="button" (click)="currentView = 'ADD'">Add New</button>
   <app-product-list [products]="products" (onViewDetails)="viewDetails($event)" (onEditDetails)="viewEditDetails($event)"></app-product-list>
</ng-container>

<ng-container *ngIf="currentView == 'DETAILS'">
    <button class="btn btn-secondary" type="button" (click)="back()">Back</button>
    <app-product-details [product]="selectedProduct"></app-product-details>
</ng-container>

<ng-container *ngIf="currentView == 'ADD'">
    <button class="btn btn-secondary" type="button" (click)="back()">Back</button>
    <app-product-add (onSaveProduct)="addProduct($event)"></app-product-add>
</ng-container>

<ng-container *ngIf="currentView == 'EDIT'">
        <button class="btn btn-secondary" type="button" (click)="back()">Back</button>
        <app-product-edit (onEditProduct)="editProduct($event)" [product]="selectedProduct" ></app-product-edit>
</ng-container>

